{{ define "home"}}

{{ template "header" }}

    <div class="container">

            {{if .Email}}
                <div class="alert alert-danger" role="alert">
                    <strong>{{.Email}}</strong>
                </div>
            {{end}}
        <table class="table table-striped table-bordered" id="sortTable">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Имя</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Контент</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
            
                {{ range $key, $value := .Posts }}
                    <tr>
                        <td>{{$value.Id}}</td>
                        <td>{{$value.Username}}</td>
                        <td>{{$value.Email}}</td>
                        <td>{{$value.Content}}</td>
                        <td>
                            <a href="/edit/{{$value.Id}}">Редактировать</a> /
                            <a href="/delete/{{$value.Id}}">Удалить</a>
                        </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
        <!--<div class="text-center">
            {{ .Render.Render }}
        </div>-->
    </div>

<script>
    $('#sortTable').DataTable({
        "order": [[ 0, "desc" ]],
        "pageLength": 3,
        "lengthChange": false,
        searching: true,
        select: false
    });
</script>

{{ template "footer" }}

{{end}}